// Color
$primary-color: #3f04fe;
$heading-color: #0e003c;
$secondary-color: #6c798f;

// Font Weight
$fontWSM: 400;
$fontWMD: 600;
$fontWXL: 900;

body,
p {
  font: {
    size: 16px;
    weight: $fontWSM;
  }
}
p {
  margin: 0 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fontWXL;
  margin: 0 0 15px;
  line-height: 1.2em;
}

// Main Width
$small: 200px;
$medium: 767px;
.container {
  width: 1400px;
  margin: 0 auto;
  @media only screen and (min-width: $small) and (max-width: $medium) {
    width: 96%;
  }
}

// Paddings
$paddingSM: 10px 0;
.paddingXL {
  padding: 60px 0;
  @media only screen and (min-width: $small) and (max-width: $medium) {
    padding: 25px 0;
  }
}
